<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          {{err.status}}</h1>
        <h2>
          {{err.message}}</h2>
        <div class="error-details">
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>